<aside class="sidebar">
    <h2>Topics</h2>
    <ul>
        <li id="header">GETTING STARTED </li>
        <li><a href="#introduction">What is Python</a></li>
        <li><a href="#variables">Install Pythons</a></li>
        <li><a href="#control-flow">Setup VS Code for Python</a></li>
        <li><a href="#control-flow">Write Hello World Program</a></li>
        <br>
        <li id="header">PYTHON FUNDAMENTALS</li>
        <li><a href="#functions">Functions</a></li>
        <li><a href="#data-structures">Data Structures</a></li>
        <li><a href="#oop">Object-Oriented Programming</a></li>
        <li><a href="#modules">Modules and Packages</a></li>
        <li><a href="#file-handling">File Handling</a></li>
        <li><a href="#exceptions">Exception Handling</a></li>
        <li><a href="#advanced">Advanced Topics</a></li>
    </ul>
</aside>